.cards{
    padding: 20px;
    .cards_dash{
        justify-content: center;
        text-align: center;
        padding-top: 60px;
        .dash_title{
            color: #555555;            ;
            font-family: $all_font;
            font-size: 33px;
            font-weight: 300;
        }
        .dash_text{
            margin: 0px 100px 0px 100px;
            color: #555555;
            font-family: $all_font;
            font-weight: 400;
            font-size: 15px;
        }
    }
    .cards_box{
        padding-top: 50px;
        padding-bottom: 60px;
        .card{
            padding: 80px 50px 10px 50px;
            //border: #555555 1px solid;
            border-radius: 4px;
            margin: 25px;
            height: 382.33px;
            font-family: $all_font;
            text-align: center;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
            background: #ffffff;
            .icon{
                font-size: 73px;
                color:rgb(206, 54, 51);
                font-weight: 500;
            }
            .card_title{
                font-size: 18px;
                font-weight: 300;
                color: #555555;
            }
            .card_text{
                font-size: 15px;
                font-weight: 400;
                color: #444444;
            }
        }
    }
}