.comment_cards{

    .comment_dash{
        padding-top: 80px;
        text-align: center;  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .comment_title{
            font-size: 33px;
            font-family: $card_font;
            color: #555555;
            font-weight: 300;
        }

        .comment_text{  
            font-size: 15px;
            color: #444444;
            font-weight: 400;
            max-width: 75%
        }
    }

    .cardcomment_box{
        padding-top: 20px;
        padding-bottom: 100px;

        .card_comment{
            background-color: #ffffff;
            box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.507);
            border-radius: 2px;
            margin: 25px;
            height: 316.5px;
            padding: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            .cardcomment_text{
                line-height: 24px;
                font-style: italic;
                font-size: 15px;
                font-weight: 400;
                color: #444444;
                margin: 0px 0px 32px;
                padding: 10px 0px 10px 25px;
                border-left: #BFBFBF 7px solid;
            }

            .autor{
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .autor_image{
                    height: 50px;
                    width: 50px;
                    border-radius: 200px;
                }

                .autor_text{
                    font-size: 11px;
                    padding-left: 30px;

                    strong{
                        color:#ce1b28;
                        font-weight: 400px;
                    }

                    span{
                        color: #444444;
                        font-weight: 600px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px){
    .comment_cards{
        .comment_dash{

            .comment_title{
                font-size: 24px;
            }

            .comment_text{
                font-size: 16px;
            }
        }

        .cardcomment_box{
            .card_comment{
                padding: 22px;

                .cardcomment_text{
                    font-size: 16px;
                }

                .autor{
                    .autor_image{
                        height: 90px;
                        width: 90px;
                    }
                }
            }
        }
    }
}