.comment_cards{
    .comment_dash{
        padding-top: 80px;
        text-align: center;   
        .comment_title{
            font-size: 33px;
            color: #555555;
            font-weight: 300;
        }
        .comment_text{
            margin: 50px 20px;
            font-size: 15px;
            color: #444444;
            font-weight: 400;
        }
    }
    .cardcomment_box{
        padding-top: 20px;
        .card_comment{
            background-color: #ffffff;
            // border: #444444 1px solid;
            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.025);
            border-radius: 4px;
            margin: 25px;
            height: 300px;
            padding: 40px;
            .cardcomment_text{
                font-style: italic;
                font-size: 15px;
                font-weight: 400;
                color: #444444;
                margin: 0px 0px 32px;
                padding: 16px 0px 16px 32px;
                border-left: #BFBFBF 7px solid;
            }
        }
    }
}