.mini_banner{
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url('/images/minibanner.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    z-index: 1;
    height: 360.66px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: $all_font;

    .minibanner_box{
        padding: 70px;
        display: flex;
        flex-direction: column;

        .minibanner_title{
            color: #ffffff;
            font-size: 33px;
            font-weight: 300;
        }

        .minibanner_text{
            font-size: 15px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

@media (max-width: 768px){
    
    .mini_banner{
        background-attachment: scroll;
        height: 350px;
    }
}