.mini_banner{
    background-image: linear-gradient(rgba(230, 10, 25, 0.541), rgb(0, 0, 0)), url('/images/minibanner1.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    z-index: 1;
    height: 370px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;    

    .minibanner_box{
        letter-spacing: 0.2px;
        padding: 2px;
        display: flex;
        flex-direction: column;
        max-width: 75%;

        .minibanner_title{
            font-family: $banner_font;
            color: #ffffff;
            font-size: 33px;
            font-weight: 300;
        }

        .minibanner_text{
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

@media (max-width: 768px){
    
    .mini_banner{
        background-attachment: scroll;
        height: auto;
        .minibanner_box{
            margin: 1px 10px;
            .minibanner_title{
                font-size: 25px;
            }
        }
    }
}