.nav_bar {
    background: #111111;
    height: 44px;
    width: 100%;
    padding: 12px;
    position: fixed;
    z-index: 10001;

    .nav_box {
        display: flex;
        justify-content: space-between;

        .nav_home {
            font-weight: 600;
            text-decoration: none;
            color: $color_nav;
            font-size: 15px;
            margin: 1px 10px;
        }

        .nav_menu {
            color: rgba(255, 255, 255, 0.5);
            padding-left: 15px;
            width: 80px;
            font-size: 15px;
            cursor: pointer;

            :hover {
                color: $color_nav;
                transition: 0.5s;
            }
        }

        .menu_link {
            position: fixed;
            height: 100vh;
            width: 20rem;
            top: 0;
            right: -400px;
            background: $font_nav;
            font-family: $all_font;
            font-size: 15px;
            font-weight: 400;
            color: $color_nav;
            transition: .20s ease-in-out;
            text-decoration: none;

            .row {
                justify-content: flex-end;

                .btn-close {
                    color: #fff;
                    padding: 16px;
                }
            }

            .link_list {
                margin: 0;
                padding: 0 24px;

                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.5);
                }

                a:hover {
                    color: #ffffff;
                    transition: 0.3;
                }

                .item {
                    list-style-type: none;
                    border-bottom: rgba(255, 255, 255, 0.5) 1px solid;
                    padding: 20px 10px 15px 2px;
                    font-family: $all_font;
                    color: rgba(255, 255, 255, 0.5);

                    &:last-of-type {
                        border-bottom: 0;
                    }
                }
            }

            .close {
                cursor: pointer;
                color: #444444;
                padding-right: 10px;

                :hover {
                    color: #ffffff;
                }
            }

            &.active {
                right: 0;
            }
        }
    }
}
