.nav_bar{
    background: $font_nav;
    height: 44px;
    width: 100%;
    padding: 12px;
    position: fixed;
    z-index: 10001;
    .nav_box{
        display: flex;
        justify-content: space-between; 
        .nav_home{
            font-weight: 600;
            text-decoration: none;
            color: $color_nav;
            font-size: 15px;
            margin: 1px 10px;
        }
        .nav_menu{
            color:rgba(255, 255, 255, 0.5);
            padding-left: 15px;
            width: 80px;
            font-size: 15px;
            cursor: pointer;
            :hover{
                color: $color_nav;
            }
        }
        .menu_link{
            position: absolute;
            height: 100vh;
            width: 20rem;
            top: 0;
            right: -400px;
            background:$font_nav;
            font-family: $all_font;
            font-size: 16px;
            color: $color_nav;
            transition: .20s ease-in-out;

            .close{
                cursor: pointer;
                color: #444444;
                padding: 20px;
                :hover{
                    color: #ffffff;
                }
            }
        
            ul li {
                list-style-type: none;
                border-bottom:rgba(255, 255, 255, 0.5) 1px solid;
                width: 200px;
                padding: 15px;
                font-family: $all_font;
                :hover{
                    color: $color_nav;
                }
                a{
                    text-decoration: none;
                    color:rgba(255, 255, 255, 0.5);
                }
            }
            &.active{
                right: 0;  
                display: flex;
                justify-content: space-between;
                
            }
        }
    }
}