//import font
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');

//fonts
$all_font: 'Raleway', sans-serif;
$menu_font: 'Suez One', serif;
$banner_font: 'Covered By Your Grace', cursive;
$card_font: 'Calistoga', cursive;

// Colors
$graphite: #333;
$color_nav: #ffffff;
$font_nav: rgb(19, 18, 18);






